{% extends "base.html" %}
{% load static %}
{% block content %}


<!--wrapper start-->
<div class="wrapper">


  <!-- Offcanvas aside - Telefon versiyasi uchun -->

  <main class="main-content">
    <!--== Start Page Header Area Wrapper ==-->
    <div class="page-header-area" style="background-color: none!important;">
      <div class="container pt--0 pb--0">
        <div class="row">
          <div class="col-12">
            <div class="page-header-content">
              <nav class="breadcrumb-area" data-aos="fade-down" data-aos-duration="1200">
                <ul class="breadcrumb">
                  <li><a href="/" style="color: black !important;">ГЛАВНАЯ </a></li>
                  <li class="breadcrumb-sep">//</li>
                  <li>Подробности о продукте</li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--== End Page Header Area Wrapper ==-->

    <!--== Start Product Single Area Wrapper ==-->
    <section class="product-area product-single-area">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="product-single-item">
              <div class="row">
                <div class="col-xl-6">
                  <!--== Start Product Thumbnail Area ==-->
                  <div class="product-single-thumb">
                    <div class="swiper-container single-product-thumb single-product-thumb-slider">
                      <div class="swiper-wrapper">
                        <div class="swiper-slide">
                          <a class="lightbox-image" data-fancybox="gallery" href="#">
                            <img src="{{product.img1.url}}" width="570" height="541" alt="Image-HasTech">
                          </a>
                        </div>
                        <div class="swiper-slide">
                          <a class="lightbox-image" data-fancybox="gallery" href="#">
                            <img src="{{product.img2.url}}" width="570" height="541" alt="Image-HasTech">
                          </a>
                        </div>
                        <div class="swiper-slide">
                          <a class="lightbox-image" data-fancybox="gallery" href="#">
                            <img src="{{product.img3.url}}" width="570" height="541" alt="Image-HasTech">
                          </a>
                        </div>
                        <div class="swiper-slide">
                          <a class="lightbox-image" data-fancybox="gallery" href="#">
                            <img src="{{product.img4.url}}" width="570" height="541" alt="Image-HasTech">
                          </a>
                        </div>
                        <div class="swiper-slide">
                          <a class="lightbox-image" data-fancybox="gallery" href="#">
                            <img src="{{product.img5.url}}" width="570" height="541" alt="Image-HasTech">
                          </a>
                        </div>
                      </div>
                    </div>
                    <div class="swiper-container single-product-nav single-product-nav-slider">
                      <div class="swiper-wrapper">
                        <div class="swiper-slide">
                          <img src="{{product.img1.url}}" width="127" height="127" alt="Image-HasTech">
                        </div>
                        <div class="swiper-slide">
                          <img src="{{product.img2.url}}" width="127" height="127" alt="Image-HasTech">
                        </div>
                        <div class="swiper-slide">
                          <img src="{{product.img3.url}}" width="127" height="127" alt="Image-HasTech">
                        </div>
                        <div class="swiper-slide">
                          <img src="{{product.img4.url}}" width="127" height="127" alt="Image-HasTech">
                        </div>
                        <div class="swiper-slide">
                          <img src="{{product.img5.url}}" width="127" height="127" alt="Image-HasTech">
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--== End Product Thumbnail Area ==-->
                </div>
                <div class="col-xl-6">
                  <!--== Start Product Info Area ==-->
                  <div class="product-single-info">
                    <h3 class="main-title">{{product.title}}</h3>
                    <div class="prices">
                      <span class="price">{{product.discount_price}} p</span>
                    </div>
                    <div class="rating-box-wrap">
                      <div class="rating-box">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                      </div>

                    </div>



                    <div class="product-quick-action">
                      <div class="qty-wrap">
                        <div class="size-option">36</div>
                        <div class="size-option">37</div>
                        <div class="size-option">38</div>
                        <div class="size-option">39</div>
                        <div class="size-option">40</div>
                        <div class="size-option">41</div>
                        <div class="size-option">42</div>
                        <div class="size-option">43</div>
                        <div class="size-option">44</div>
                        <div class="size-option">45</div>
                      </div>
                      <style>
                        .qty-wrap {
                          display: flex;
                          flex-wrap: wrap;
                          gap: 7px;
                          /* margin: 20px 0; */
                        }

                        .size-option {
                          padding: 3px 10px;
                          border: 1px solid #ddd;
                          border-radius: 8px;
                          cursor: pointer;
                          font-weight: 500;
                          transition: all 0.3s ease;
                          background-color: #fff;
                          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
                        }

                        .size-option:hover {
                          background-color: #f8f8f8;
                          border-color: #999;
                        }

                        .size-option.active {
                          background-color: #eb3e32;
                          color: #fff;
                        }

                        .tugmasi1 {
                          display: inline-block;
                          background-color: #eb3e32;
                          color: #fff;
                          text-decoration: none;
                          border: none;
                          padding: 20px 40px;
                          font-weight: 600;
                          border-radius: 5px;
                          text-transform: uppercase;
                          font-size: 11px;
                          transition: all 0.3s ease;
                          box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
                          letter-spacing: 1px;
                        }

                        
                      </style>
                      <script>
                        const sizes = document.querySelectorAll('.size-option');
                        sizes.forEach(size => {
                          size.addEventListener('click', () => {
                            sizes.forEach(s => s.classList.remove('active'));
                            size.classList.add('active');
                          });
                        });
                      </script>
                    </div>
                    <div class="product-wishlist-compare">
                      <a href="/add-to-cart/{{product.id}}/">
                        <button class="tugmasi1">добавить в корзину</button>
                        </a>
                    </div>
                    <div class="product-info-footer">
                      <div class="social-icons">
                        <span>Делиться</span>
                        <a href="#/"><i class="fa fa-telegram"></i></a>
                        <a href="#/"><i class="fa fa-instagram"></i></a>
                        <a href="#/"><i class="fa fa-twitter"></i></a>
                      </div>
                    </div>
                  </div>
                  <!--== End Product Info Area ==-->
                </div>
              </div>
            </div>
          </div>
        </div>


      </div>
    </section>
    <!--== End Product Single Area Wrapper ==-->


    <!--== End Footer Area Wrapper ==-->
  </main>
  <!--== Start Footer Area Wrapper ==-->

</div>
{% endblock %}